<header class="mb-3">
  <div class="text-center">
    <h1 class="h1 fs-1 fw-bold">
      <a href="/profile" class="text-decoration-none link-light"
        >Collector's Cove</a
      >
    </h1>
    <span class="fs-6 text-light fw-medium">Post Board Games.</span>
    <span class="fs-6 text-light fw-medium">Look at Board Games.</span>
    <span class="fs-6 text-light fw-medium">Ask about Board Games.</span>
  </div>
</header>
