<nav
  class="navbar navbar-expand-lg bd-navbar fixed-top"
  style="background-color: #e3f2fd"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Collector's Cove</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feed">Feed</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
